<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ACDateView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TowLineDate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5172E4AF19E10AF8005EA5F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5172E4B919E10AF8005EA5F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5172E4D319E111CC005EA5F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5172E4DD19E111CC005EA5F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5172E4F619E11820005EA5F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5172E50019E11820005EA5F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C16F85519DB943D0077FE72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C16F86A19DB943E0077FE72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
